<<<<<<< HEAD=======body {
    color: white;
    background: black;
}

.page-header {
    background-image: url("images/back-logo3.jpg");
    background-size: cover;
    height: 250px;
    margin: 0;
    text-align: center;
    border: 0;
}

#title,
h1 small {
    margin: 0;
    color: white;
    padding-top: 100px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: red;
}

.nav-pills > li.active > a {
    border-radius: 3px;
    border: 50px;
    border-color: darkgoldenrod;
    color: darkgoldenrod;
}
#title {
	text-shadow: 2px 2px black;
}

>>>>>>> Kev
