/* Options Générales */
body {
    color: white;
    background: black;
    text-align: center;
}


/* Options pour l'entête */

.page-header {
    background-image: url("images/back-logo3.jpg");
    background-size: cover;
    height: 250px;
    margin: 0;
    text-align: center;
    border: 0;
}

#title,
h1 small {
    text-shadow: 2px 2px black;
    margin: 0;
    color: white;
    padding-top: 100px;
}


/* Options pour le Menu */

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: red;
}

.nav-pills > li.active > a {
    border-radius: 3px;
    border: 50px;
    border-color: darkgoldenrod;
    color: darkgoldenrod;
}

/* Options pour le contenu */
.tab-content {
    max-width: 800px;
    margin: auto;
}

<<<<<<< HEAD
/* Options pour le pied de page */
footer {
    background: grey;
    height: 100px;
}
=======

>>>>>>> Kev
>>>>>>> origin/Kev
